<h2>Generated tweets:</h2>
<% @generated_tweets.each do |tweet| %>
  <%= form_tag(tweet_path, method: 'post') do %>
    <div class="form-group">
      <div class="col-sm-10">
      <%= hidden_field_tag 'handle1', sanitize(@handle1) %>
      <%= hidden_field_tag 'handle2', sanitize(@handle2) %>
      <%= hidden_field_tag 'tweet_id', tweet[:id] %>
      <%= text_field_tag(:tweet, sanitize(tweet[:tweet]), class: 'form-control generated-tweet') %>
      </div>
      <div class="col-sm-2">
      <%= submit_tag("Tweet!", class: 'btn btn-success') %>
      </div>
    </div>
  <% end %>
<% end %>