<div class="jumbotron">
<div class="container">
			<h1><i class="fa fa-twitter"></i> TwitterFitter</h1>
			<%= form_tag('/', method: 'get', class: 'form-inline') do %>
				<div class="form-group">
			  <%= label_tag(:twitter_handle, "@") %>
			  <%= text_field_tag(:twitter_handle1, @handle1, class: 'form-control') %>
				<%= label_tag(:twitter_handle2, "and @") %>
				<%= text_field_tag(:twitter_handle2, @handle2, class: 'form-control') %>
				<%= submit_tag("Combine!", class: 'btn btn-custom') %>
				</div>
			<% end %>
</div>
</div>
<div class="main">
<div class="container">
	<div class="row">
		<div class="col-sm-12 main-body">
			<% if !(@generated_tweets.nil? || @generated_tweets.empty?) %>
				<h2>Generated tweets:</h2>
					<% @generated_tweets.each do |tweet| %>
						<%= form_tag(tweet_path, method: 'post') do %>
							<div class="form-group">
								<div class="col-sm-10">
								<%= hidden_field_tag 'handle1', @handle1 %>
								<%= hidden_field_tag 'handle2', @handle2 %>
								<%= hidden_field_tag 'tweet_id', tweet[:id] %>
								<%= text_field_tag(:tweet, tweet[:tweet], class: 'form-control') %>
								</div>
								<div class="col-sm-2">
								<%= submit_tag("Tweet!", class: 'btn btn-success') %>
								</div>
							</div>
						<% end %>
					<% end %>
			<% elsif !(@tweet.nil? || @tweet.empty?) %>
				<h2>Successfully tweeted:</h2>
				<strong><a href="http://twitter.com/fittertweets">@FitterTweets</a></strong>: <%= @tweet %>
			<% else %>
				<div class="explanation">
				<p>TwitterFitter is a place where you can join any two Twitter feeds to make new and interesting tweets!</p>
				<p>Start by entering two different Twitter handles up above, and click 'Combine!'</p>
				<p>After your tweets are generated, you can choose one to tweet out from the TwitterFitter account
					<a href="http://twitter.com/fittertweets">@FitterTweets</a>. And don't forget to follow us to see
					what tweets other people have combined!</p>
				</div>
			<% end %>
		</div>
	</div>
</div>
</div>
<footer>
	<div class="container">
	<h2>Follow Us <a href="http://twitter.com/fittertweets">@FitterTweets</a></h2>
	<p>TwitterFitter is a Markov Chain generator written for fun by Jimmy Lo. Follow my other coding projects on <a href="https://github.com/jimmylorunning">GitHub</a>, my <a href="http://jimmylocoding.com">blog</a>, or my personal <a href="http://twitter.com/jimmylocoding">Twitter</a> account.</p>
	</div>
</footer>
