<h1>TwitterFitter</h1>
<%= form_tag('/', method: 'get') do %>
  <%= label_tag(:twitter_handle, "@") %>
  <%= text_field_tag(:twitter_handle, @handle) %>
  <%= submit_tag("Fitter!") %>
<% end %>

<% if !@generated_tweet.empty? %>
	<p>Generated tweet:
	<strong>
		<%= @generated_tweet %>
	</strong>
	</p>
<% end %>